sub-wrap{
    position: absolute;
width: 115px;
height: 31px;
left: 463px;
top: 31px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #A83030;
}
